<div style="display: flex; flex-direction: row; gap: 2rem">
  <div>
    <dl>
      <dt>Completed</dt>
      <dd *ngFor="let todo of todoList">
        <div *ngIf="todo.completed===true">
          <span (click)="toggleComplete(todo)">{{todo.title}}</span>
        </div>
      </dd>
    </dl>
  </div>
  <div>
    <dl>
      <dt>Uncompleted</dt>
      <dd *ngFor="let todo of todoList">
        <div *ngIf="todo.completed===false">
          <span (click)="toggleComplete(todo)">{{todo.title}}</span>
        </div>
      </dd>
    </dl>
  </div>
</div>
