<h1>Todo List</h1>

<h2>
  Description
</h2>

<p>
  Implement a todo list. You should be able to add a todo, mark it as complete, and delete it. You should also be able
  to filter the list of todos by completed and uncompleted. New todo should be put on top, finished todo should be put
  on bottom. You should also add strick-through. You can use the list of todos below.
</p>

<h2>
  Result
</h2>

<div [ngStyle]="{'display':'flex', 'flex-direction':'column', 'gap':'1rem'}">
  <div>
    <input type="text" placeholder="Get Milk" [(ngModel)]="todoService.todoTitle" />
    <button (click)="todoService.createTodo()">Add todo</button>
  </div>
<div style="display: flex; flex-direction: row; gap: 2rem">
  <div>
    <dl>
      <dd *ngFor="let todo of this.todoService.todoList">
        <span [ngStyle]="todo.completed? {'text-decoration': 'line-through'}:{'font-weight': 'bold'}"
          (click)="this.todoService.toggleComplete(todo)">{{todo.title}}
        </span>
      </dd>
    </dl>
  </div>
</div>

</div>