.but-flat{
     background-color: #3498db;
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn-flat:hover {
    background-color: #2980b9;
}

input {
  display: div
}