<h1>Counter</h1>

<h2>
  Description
</h2>

<p>
  This component implement custom validator, dependency injection, httpclient client, sub routing, lazy loading, list iteration, and interceptor guard. We can see this as an advanced form component.
</p>

<h2>
  Result
</h2>

<br>


<nav>
  <div>
    <a routerLink="/interceptor-guard/form" routerLinkActive="active">Form</a>
  </div>
  <div>
    <a routerLink="/interceptor-guard/list" routerLinkActive="active">List</a>
  </div>
</nav>

<router-outlet></router-outlet>