<h1>Fibonacci Sequence</h1>

<h2>
  Description
</h2>

<p>
  Implement a fibonacci sequence. You should be able to input a number and get the fibonacci sequence up to that number. You can use the list of fibonacci numbers below. There are <b>input validation, loading spinner, error handling and unit testing</b>.
</p>

<p>
  More specifically, write several test cases covering different functionalities of the component, such as <b>creation, generating the Fibonacci sequence, error handling, and loading state.</b>
</p>

<h2>
  Result
</h2>

<input type="number" placeholder="Enter a number" [(ngModel)]="inputNum" min="1" />


<button (click)="generateSequence()">
Generate Fibonacci Sequence</button>

<div *ngIf="hasError">
  <p [ngClass]="'error'">Please enter a positive number</p>
</div>

<div *ngIf="isLoading" Class='loading-spinner'></div>


<dl>
  <dd *ngFor="let num of fibonacciSequence">
    {{num}}
  </dd>
</dl>