<div [ngStyle]="{'padding-left': '1.5rem',
'padding-right': '1.5rem'}"> 

  <h1>✨Daniel's Angular Exercises✨</h1>

  <nav>
    <a routerLink="/recursive-nav">Recursive Nav</a>
    <a routerLink="/filtered-city">Filtered City</a>
    <a routerLink="/todo">Infamous Todo</a>
    <a routerLink="/palindrome">Palindrome</a>
    <a routerLink="/fibonacci">Fibonacci</a>
    <a routerLink="/counter">Counter</a>
    <a routerLink="/vote-system">Vote</a>
    <a routerLink="/custom-directives">Custom Directive</a>
    <a routerLink="/rxjs">RXJS</a>
    <a routerLink="/ngrx">NGRX</a>
    <a routerLink="/swap">Swap</a>
    <a routerLink="/tab-with-child">Tab With Child</a>
    <a routerLink="/viewchild">View Child</a>
    <a routerLink="/uuid">Uuid</a>
    <a routerLink="/fork-join">Fork Join</a>
    <a routerLink="/observable-count">Observable Count</a>
    <a routerLink="/observable-list">Observable List</a>
    <a routerLink="/filter-search">Filter Search</a>
    <a routerLink="/layout-css">Layout CSS</a>
    <a routerLink="/regi-form">Regi Form</a>
  </nav>

  <router-outlet></router-outlet>

</div>