<h2>NGRX</h2>

<h3>
  Description
</h3>

<p>
  This todo app used HttpModule to fetch data from a server. This app uses NGRX to manage the state of the application. NGRX is a redux-inspired library that helps manage the state of the application. It uses a single source of truth to manage the state of the application.
</p>

<h4>
  Result
</h4>

<div class="container">
  <app-add-todo [lastTodoId]="todoIds[todoIds.length - 1]"></app-add-todo>
  <app-search (handleSearch)="handleSearch($event)"></app-search>
  <div class="container">
    <app-todo-item
      *ngFor="let todoId of todoIds"
      [todoId]="todoId"
    ></app-todo-item>
  </div>
</div>