
<div class="my-50 mx-auto">
    <div class="container">
      <div class="layout">
        <div class="left">
          <div class="box header" data-title="header"></div>
          <div class="content">
            <div class="box sidebar" data-title="sidebar"></div>
            <div class="box article" data-title="article"></div>
          </div>
          <div class="box footer" data-title="footer"></div>
        </div>


        <div class="right" style="display: flex; flex-direction: column;">
          <div class="box aside-1" data-title="aside-1"></div>
          <div class="box aside-2" data-title="aside-2"></div>
          <div class="box aside-3" data-title="aside-3"></div>
        </div>
      </div>
    </div>
  </div>