<h1> RXJS </h1>

<h2>Description</h2>

<p>
  RXJS topic includes observables, subjects, and operators. Observables are the foundation of RXJS. Subjects are a type of observable that allows values to be multicasted to many observers. Operators are functions that build on the observables foundation to enable sophisticated manipulation of collections.
</p>

<p>
  Observable vs promises. Observable, Observer, MultiCasting, Subject, Unique such as distinctUntilChanged(). These are some of the concepts that are used in NGRX. NGRX is a powerful library that helps manage the state of the application.
</p>

<h2>Result</h2>

<!-- <app-subjects></app-subjects>
<app-operators></app-operators>
<app-transformation></app-transformation> -->

<br>
<nav>
  <a routerLink="/rxjs/observables">Observables</a>
  <a routerLink="/rxjs/subjects">Subjects</a>
  <a routerLink="/rxjs/operators">Operators</a>
</nav>
<router-outlet></router-outlet>
