<h1>Progressive Todo</h1>

<h2>
  Description
</h2>

<h2>🍏 Directory Tree</h2>
  <pre class="directory-tree">
.
├── app-routing.module.ts
├── app.component.css
├── app.component.html
├── app.component.ts
├── app.module.ts
├── components
│   ├── add-form
│   ├── login
│   ├── page-not-found
│   ├── session
│   ├── todo-item
│   ├── todo-item-detail
│   ├── todo-list
│   ├── top-bar
│   └── user-form
├── directives
│   └── status-indicator-directive.directive.ts
├── interfaces
│   ├── item.ts
│   └── user.ts
├── pipes
│   └── prio-trans.pipe.ts
└── services
    ├── auth-guard.service.ts
    ├── auth.service.ts
    └── todo.service.ts
  </pre>

  <h2>🚀 Angular Features Used in This Site</h2>
  <ul class="features">
    <li>✅ Components</li>
    <li>✅ Services and Dependency Injection</li>
    <li>✅ Directives</li>
    <li>✅ Property Binding</li>
    <li>✅ Event Binding</li>
    <li>✅ Custom Pipes</li>
    <li>✅ Template-driven Forms</li>
    <li>✅ Observables</li>
    <li>✅ Routing/Guards</li>
    <li>✅ Log Simulation with observables</li>
    <li>✅ Reactive Forms</li>
    <li>✅ Custom Directives</li>
    <li>✅ HTTP Client</li>
    <li>✅ CICD/Heroku/Netlify</li>
  </ul>

  <h2>🐡 Future Angular Features in This Site</h2>
  <ul class="future-features">
    <li>🔲 Unit Testing</li>
    <li>🔲 End-to-End Testing</li>
    <li>🔲 Animations</li>
    <li>🔲 PWA</li>
    <li>🔲 Service Workers</li>
    <li>🔲 Server-side Rendering</li>
    <li>🔲 MongoDB</li>
    <!-- Add more features here -->
  </ul>

<h2>
  Result
</h2>

<br>